<!--<p-dataScroller [value]="members" [rows]="10" [inline]="true" scrollHeight="500px">
  <header>
    Members
  </header>
  <div *ngFor="let member of members">
    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3" style="text-align:center"><i class="fa fa-search" style="cursor:pointer;float:left;margin-top:40px"></i>
        </div>
        <div class="ui-grid-col-9">
          <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-grid-row" (click)="test()">
              <div class="ui-grid-col-2">Name:</div>
              <div class="ui-grid-col-10">{{member.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dataScroller>-->

<!--<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="30" style="float:left" placeholder="Global Filter">
</div>-->
<p-dataTable [value]="members" scrollable="true" scrollHeight="100px">
    <header *ngIf="currentGroup != null" >Members of {{currentGroup.groupName}}</header>
    <header *ngIf="currentGroup == null">Members</header>
    <p-column header="Edit" styleClass="col-icon">
      <!--<template pTemplate type="header">
        <button type="button" pButton (click)="selectAllCars()" icon="fa-check"></button>
    </template>-->
    <template let-member="rowData" pTemplate type="body">
        <button type="button" pButton (click)="editMember(member)" icon="fa-search"></button>
    </template>
    </p-column>
    <p-column header="Delete" styleClass="col-icon">
    <template let-member="rowData" pTemplate type="body">
        <button type="button" pButton (click)="deleteMember(member)" icon="fa-bin"></button>
    </template>
    </p-column>
    <p-column field="name" header="Name" [filter]="true"></p-column>    
</p-dataTable>